.s-app__address {
  background-image: url(../images/pattern-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  font-size: 1.8rem;
  padding-top: 2rem;
  padding-bottom: 150px;

  position: relative;
  z-index: 2;

  @media (min-width: 768px) {
    background-image: url(../images/pattern-bg-desktop.png);
    padding-top: 4rem;
  }

  &__form-box {
    display: flex;
    gap: 0;
  }

  &__input {
    background-color: #fff;
    border: 0;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    padding: 2rem;
    width: 27rem;

    @media (min-width: 768px) {
      width: 50rem;
    }
  }

  &__btn {
    background-color: $color-dark-gray-900;
    border: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 2rem;
    transition: all 0.3s;

    &:hover,
    &:focus {
      background-color: $color-dark-gray-700;
    }
  }

  &__info {
    background-color: #fff;
    padding: 2rem 4rem 2rem 4rem;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: absolute;
    bottom: 0;
    transform: translateY(57%);

    @media (min-width: 768px) {
      transform: translateY(50%);
      gap: 2rem;
    }

    &-item:last-child {
      border-right: none;
    }

    @media (min-width: 768px) {
      padding: 4rem;
      flex-direction: row;
      gap: 2.4rem;
      margin: 0 2rem 0 2rem;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.4rem;

      @media (min-width: 768px) {
        border-right: 1px solid $color-dark-gray-200;
        padding: 2rem 4rem 2rem 0;
        align-items: stretch;
      }
    }
    &-text {
      color: $color-dark-gray-900;
      font-weight: 600;
      font-size: $text-font-size;

      @media (min-width: 768px) {
        font-size: 2.4rem;
      }
    }

    &-heading {
      font-size: 1rem;
      color: $color-dark-gray-200;
      letter-spacing: 1px;
      @media (min-width: 768px) {
        font-size: 1.4rem;
      }
    }
  }
}
