.s-app {
  height: 100vh;

  @media (min-width: 768px) {
  }

  &__map-container {
    position: relative;
    width: 100%;
    z-index: 0;
  }
}

#s-app__map {
  inset: 0;
  position: absolute;
  z-index: 0;
}
