.background-img {
  position: relative;
  width: 100%;
  z-index: 1;
  // overflow: hidden;

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.heading {
  padding: 2rem;
  position: relative;
  z-index: 2;

  @media (min-width: 768px) {
    padding: 4rem;
  }

  &__primary {
    font-size: 2rem;
    color: white;
    letter-spacing: 0.5px;
    font-weight: 500;
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
      font-size: 3rem;
    }
  }
}

.s-app {
  height: 100vh;
}

.s-app__map-container {
  position: relative;
  width: 100%;
}

#s-app__map {
  inset: 0;
  position: absolute;
  z-index: 0;
}
